<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="../../static/js/jquery-3.2.0.js"></script>
    <style>
        table{text-align: center}
        ul{list-style: unset }
    </style>
</head>
<body>
<form th:action="@{/stu/{action}(action=${action})}" method="post">
    <input  name="id" th:value="${student.id}" th:type="hidden"/>
    <table border="1px" cellspacing="0">
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
        </tr>
        <tr>
            <td><input type="text" name="name" th:value="${student.name}"/> </td>
            <td><input type="text" name="age" th:value="${student.age}"/> </td>
            <td><input type="text" name="sex" th:value="${student.sex}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"/></td>
            <td><input type="button" value="返回" onclick="history.back()"/> </td>
        </tr>
    </table>
</form>

</body>
</html>