<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <form action="/user/register" method="post">
        <table>
            <caption style="alignment: center">注册</caption>
            <tr>
                <td>
                    username:<input type="text" name="username"/>
                </td>
            </tr>
            <tr>
                <td>
                    password:<input type="password" name="password"/>
                </td>
            </tr>
            <tr>
                <td><input type="submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>